{% extends "bootstrap/base.html" %}

{% block title %}溧水月报{% endblock %}

{% block navbar %}{{ nav.navbar.render() }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>溧水区房地产市场简报</h1>
        <p>
            这个项目用于生成溧水月报部分类容。采用Flask框架编写，同实依赖flask-nav、flask-bootstrap、openpyxl、pandas等库。
            后端读取excel文件中的数据，交给前端渲染成网页。
        </p>
        <h2>操作步骤</h2>
        {#        市场运行现状#}
        <h3>市场运行现状</h3>
        <p>数据来源是内网-月度供销，时间选“1月到本月”，范围“溧水”，输出方式“按板块/片区”，“逐月”输出。</p>
        <ul>输出项目包括：
            <li>“上市面积”、“上市面积环比”、“上市面积同比”</li>
            <li>“上市套数”、“上市套数环比”、“上市套数同比”</li>
            <li>“已售面积”、“已售面积环比”、“已售面积同比”</li>
            <li>“已售套数”、“已售套数环比”、“已售套数同比”</li>
            <li>“已售均价”、“已售均价环比”、“已售均价同比”</li>
            <li>“已售金额”、“已售金额环比”、“已售金额同比”</li>
        </ul>
        <p>商品房：全部；住宅：住宅+别墅；商办：商业+办公，分别存为“商品房”、“住宅”和“商办”三个sheet，
            (再加上“商业”和“办公”两个sheet)
            存放在“E:\lishui\static\lishui1.xlsx”当中。</p>
        <br/>
        {#        镇街对比#}
        <h3>镇街对比</h3>
        <p>数据来源是内网-月度供销，时间选“1月到本月”，范围“溧水”，输出方式“浦口溧水按街道”，“逐月”输出。</p>
        <ul>输出项目包括：
            <li>“上市面积”、“上市面积环比”、“上市面积同比”</li>
            <li>“已售面积”、“已售面积环比”、“已售面积同比”</li>
            <li>“已售均价”</li>
        </ul>
        <p>住宅：住宅+别墅；商业；办公，分别存为“住宅”、“商业”和“办公”三个sheet，
            存放在“E:\lishui\static\lishui2.xlsx”当中。</p>
        <br/>
        {#        区域对比#}
        <h3>区域对比</h3>
        <p>数据来源是内网-月度供销，时间选“当前季度”，范围“全市”，输出方式“按板块/片区”，“累计”输出。</p>
        <p>季、年报才用。</p>
        <br/>
        <p>
            <a href="https://github.com/PengZiqiao/lishui" class="btn btn-primary btn-lg" role="button">
                查看源代码
            </a>
        </p>

    </div>
{% endblock %}
